<%- include('layouts/header'); -%>

<div class="jumbotron my-4">
  <h1 class="display-4">Nous retrouver</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores esse nam laboriosam magnam
    recusandae beatae non inventore nostrum placeat minima enim voluptatibus autem harum animi impedit, ut quia cumque
    maxime.</p>
  <hr class="my-4">
  <a class="btn btn-discord btn-lg" href="/discord" role="button"><img src="/img/Discord-Logo.png" height="50px"></a>
  <a class="btn btn-mangadex btn-lg" href="https://mangadex.org/group/13463/k-s-s-scantrad" role="button"
    style="height:68px;font-size:33px">Mangadex</a>
  <a class="btn btn-primary btn-lg" href="mailto:kansei.shita.sakuhin@gmail.com" role="button"
    style="height:68px;font-size:33px">Mail</a>
</div>


<%- include('layouts/footer'); -%>