<h1>Uplaoded Images</h1>

<div>


  <div>

    <div>
      <img src="data:image/<%=test.img.contentType%>;base64, 
                     <%=test.img.data.toString('base64')%>">

    </div>
  </div>
</div>